.app {
  display: flex;
  background-color: #161D32;
  height: 100vh;
  font-size: small;
}

.hamburger-option {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.icon {
  font-size: 1.2rem;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}

.company-logo {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px;
}